tags
build
*.swp
*.swo
*.exe
*.class
*.jar
*.pyc
*.o
*.so
*.a
*.dll
*.lib
*.dylib
a.out
makefile.bak
tools/ner_stream/ner_stream
MITIE-models/
example-models.zip
MITIE-models-v*.tar.bz2

#Example binaries
/ner_example
/relation_extraction_example
/ner_stream
examples/C/ner/ner_example
examples/cpp/ner/ner_example
examples/cpp/relation_extraction/relation_extraction_example
examples/cpp/train_ner/new_ner_model.dat
examples/cpp/train_ner/train_ner_example
examples/cpp/train_relation_extraction/rel_classifier.svm
examples/cpp/train_relation_extraction/train_relation_extraction_example
examples/C/relation_extraction/relation_extraction_example
examples/python/new_ner_model.dat
examples/python/rel_classifier.svm

# R package
tools/R-binding/MITIE_*.tar.gz
tools/R-binding/MITIE/src/dlib/
tools/R-binding/MITIE/src/mitielib/
